body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: white;
    margin-top: 10%;
    padding: 3rem;
    border: 1px solid black;
    border-radius: 2rem;
}
.box, p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box label{
    margin-right: 1rem;
}
#color-mode{
    padding: 0%;
}